.sessao-categorias {
  margin-right: 1rem;
  margin-top: 1rem;
  display: flex;
}

.lista-categorias {
  display: flex;
  margin-left: 3rem;
}

.lista-categorias li {
  margin-right: 2rem;
  padding: 0.5rem 0.75rem;
  background: var(--secundaria);
  color: white;
  font-weight: lighter;
  border-radius: 2.5px;
}
